<!DOCTYPE html>
<html>

<head>
    <title>Password Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>Secure Password Manager</h1>

        <p>Welcome to the Password Manager</p>

        <a href="/register">
            <button>Register</button>
        </a>

        <br><br>

        <a href="/login">
            <button>Login</button>
        </a>

    </div>

</body>

</html>